@import url('https://font.googleapis.com/css?family=roboto');

body{
  background: url('../image/img6.jpg') no-repeat center center fixed;
  background-size: cover;
}

button{
  background-color: black

}
ss
